<!-- <p>ajout-employe works!</p> -->
<div class="col-md-6" id="colonne2">
    <h2>Ajout d'un employé</h2>
    <form>

        <div class="mb-3">
          <label for="duree" class="form-label">Titre d'emploi</label>
          <input type="prenom" class="form-control" id="duree">
        </div>

        <div class="mb-3">
          <label for="duree" class="form-label">Date de l'affectation de la carte</label>
          <input type="prenom" class="form-control" id="duree">
        </div>

        <div class="mb-3">
          <div class="row">
            <label for="horaire" class="form-label">Horaires d'accès</label>
            <div class="col-md-6">
            <label for="appt" class="form-label">De</label>
            <input type="time" class="form-control" id="appt" name="appt" min="07:00" max="18:00" required />
            </div>
            <div class="col-md-6">
            <label for="appt" class="form-label">à</label>
            <input type="time" class="form-control" id="appt" name="appt" min="07:00" max="18:00" required />
            </div>
          </div>
        </div>
    </form>    
</div>
<div class="row mt-4">
<div class="row justify-content-end">
    <div class="col-auto">
        <button class="btn btn-primary" id="button_annuler">Annuler</button>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary" id="button_ajout">Ajouter</button>
    </div>
</div>
</div>
