body {
    font-family: 'Lato', sans-serif; 
}


.card{
    border-radius: 20px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

#colonne1{
    padding-left: 20px;
}

#formvisiteur, #formemploye, #formstagiaire{
    background-color: #4835D4;
    color: white;
    // border-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-top: 100px;
}


#button_Modif {
    background-color: rgb(91, 91, 172);
    color: white;
    border:rgb(91, 91, 172) ;

}

#button_annuler {
    background-color: white;
    color: rgb(91, 91, 172);
    border:rgb(230, 85, 85) ;
}


#button_ajout{
    background-color: rgb(35, 186, 92);
    color: white;
    border:  rgb(18, 94, 47);
}

